<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      defer
      data-api="/api/event"
      data-domain="fortcollinslive.com"
      src="/js/script.tagged-events.js"></script>
    <title>About - Fort Collins Live!</title>
  </head>
  <body class="p-2">
    <div class="container lg:w-1/3 mx-auto">
      <h1 class="font-bold text-lg">About Fort Collins Live</h1>
      <h2 class="text-md font-semibold">Why?</h2>
      <p>
        Fort Collins Live was created to help people find music in Fort Collins,
        Colorado and the surrounding area. With a focus on events happening in
        the next few days, we wanted to make it easy to find live music on when
        you have the sudden urge to go out or are looking for something to do
        this weekend.
      </p>
      <p>
        We also wanted a platform which was independent from venues or bands,
        and wasn't in the business of promotion, ranking, or selling tickets. A
        site which simply gives you the straight list of live music in Fort
        Collins, sorted by day and then gets out of the way. No algorithms,
        venues of all sizes, and a fast way to find local bands.
      </p>
      <h2 class="text-md font-semibold">How?</h2>
      <p>
        Fort Collins Live wants to show you the bands playing this weekend at
        every venue we can find. To do that, we contact each venue each week and
        ask them who's playing! We then toss that information into a spreadsheet
        and render it here for you.
      </p>
      <p>
        It used to be that only the big venues in town had a calendar of events
        or burried the information on their Facebook pages. We wanted to make it
        easier for you to find live music in Fort Collins, and didn't want to
        add another to-do list item for venues.
      </p>
      <p>
        In the future we may add a way for venues to submit their events
        directly, but for now we're happy to do the work for you. If you're a
        venue and want to make sure we know about your events, please reach out
        to us at <a href="mailto:hello@fortcollinslive.com"
          >hello@fortcollinslive.com</a
        >.
      </p>
      <h2 class="text-md font-semibold">Who?</h2>
      <p>
        Who we are isn't important, but we're not a venue or otherwise involved
        in the music scene in Fort Collins. We're just a couple of people who
        wanted to find some live music on a Friday night and found it hard to
        find a straightforward list. So we made one.
      </p>
      <p>
        If you operate a venue, thank you for your hard work and for hosting
        live music, we appreciate it! We'll keep asking who's playing and
        posting it here!
      </p>
      <h2 class="text-md font-semibold">Why is this site so ugly?</h2>
      <p>
        We're not designers, we just wanted to make a list of live music. Maybe
        someday we'll make it pretty, but for now we're focused on the data -
        it's super fast and you get the information you need. The less time you
        end up looking at its blandness the better!
      </p>
      <a href="/" class="pointer text-blue-600">Back to the music!</a>
    </div>
  </body>
</html>
