---
import { fetchEvents } from "../api";
import { fetchVenueLookup } from "../api";
import Events from "../components/Events.tsx";

const venues = await fetchVenueLookup();
const initialEvents = await fetchEvents();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      defer
      data-api="/api/event"
      data-domain="fortcollinslive.com"
      src="/js/script.tagged-events.js"></script>
    <title>Fort Collins Live!</title>
  </head>
  <body>
    <h1 class="w-full flex flex-row justify-center text-2xl align-bottom">
      Fort Collins Live Music
      <a href="/about" class="text-sm ml-2">(About)</a>
    </h1>
    <Events initialEvents={initialEvents} venues={venues} client:load />
    <div class="flex flex-col align-center m-4 md:m-8">
      New events added Thursdays!
    </div>
    <div class="flex flex-col align-center m-4 md:m-8">
      <h2 class="text-lg font-semibold">Did We Miss Something?</h2>
      <p>
        Are we missing your live music venue? Contact us to get on the list!
        <span>hello@</span>fortcollinslive.com
      </p>
    </div>
  </body>
  <footer class="text-center w-full text-sm italic">
    <p>
      information provided with no guarantee | all rights reserved | no user
      information is saved
    </p>
  </footer>
</html>
