<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      defer
      data-api="/api/event"
      data-domain="fortcollinslive.com"
      src="/js/script.tagged-events.js"></script>
    <title>Fort Collins Live!</title>
  </head>
  <body>
    <pre>
We're aiming for one user visible improvement per day!

== 2024-05-18

- Added caching for event list, only hits the API to check for fresh events
- Fixed plausible bug in event logging
- Added links to venue websites when available
- Switch to Fly.io for a near instant experience
    </pre>
  </body>
</html>
