@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.headerlabel {
  font-size: 40px;
  font-weight: 400;
  font-family: "Inter";
}

.header {
  height: 60px;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  width: 100%;
}
header {
  position: sticky;
  top: 0px;
  z-index: 100;
}
.logo {
  width: 40px;
  height: 40px;
  margin: 8px;
  margin-top: 15px;
}
.banner {
  height: 326px;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding-top: 45px;
}

.banner .text {
  font-size: 64px;
  font-weight: 700;
  color: white;
  font-family: "EB Garamond";
}
.eventtabs {
  width: 50%;
  height: 34%;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.tableheader {
  width: 10%;
  color: white;
  font-family: "EB Garamond";
  font-size: 18px;
  font-weight: 500;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: sticky;
  top: 296px;
  /* width: 100%; */
  z-index: 1000;
  /* overflow: scroll; */
}
.tableheader tr th {
  border-right: 1px solid white;
  border-color: white;
  justify-content: center;
  color: white;
  text-align: center;
  align-content: center;
  font-family: "EB Garamond";
  width: 150px;
}

.table th,
.table td {
  border-right: 1px solid #dee2e6 !important;
}

/* Remove border from the last column */
.table th:last-child,
.table td:last-child {
  border-right: none !important;
}

.table th {
  border-right: 1px solid #dee2e6 !important;
}

.table th:last-child {
  border-right: none !important;
  border-top-right-radius: 20px;
}

.table th:first-child {
  border-top-left-radius: 20px;
}

.table {
  margin-bottom: 0px;
}
table tr td {
  padding: 10px !important;
  text-align: center;
  align-items: center;
  font-family: "EB Garamond";
}

.eventtabs button {
  font-size: 24px;
  font-family: "EB Garamond";
  font-weight: 500;
  z-index: 1000;
}

.tabslabel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabslabel button {
  width: 100%;
  color: black;
  padding: 15px 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 16px !important;
}

/* .tab-content{
    overflow: scroll;
    width: 20px !important;
    border: 10px solid green;
} */
.nav-link.active.blue {
  background-color: #0a4175;
  color: white;
}
.nav-link.active.pink {
  background-color: #f08080;
  color: white;
}
.heading.blue {
  background-color: #0a4175;
  color: white;
  height: 90px;
}
.heading2.pink {
  height: 90px;
  background-color: #f08080;
  color: white;
}
#nav-tabContent .tab-pane {
  margin-top: -89px !important;
}
.filtertab {
  width: 70%;
  position: relative;
  bottom: 50px;
  float: right;
}

.nav-link {
  margin-bottom: 10px !important;
}
.hamburger-icon {
  color: white;
  cursor: pointer;
}

.form-control {
  background-color: transparent;
  color: white;
  border: none;
}

.form-control option {
  background-color: #fff;
  color: #000;
}

.form-control option[selected] {
  background-color: white;
  color: white;
}

.footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 88%;
}
.footerlabel {
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter";
  color: white;
}
.footerlogo {
  width: 25px;
  height: 25px;
  margin: 3px;
  margin-top: 5px;
  display: inline;
}
.footertext {
  color: white;
  font-size: 54px;
  font-weight: 600;
  font-family: "EB Garamond";
}
/*.container {
  overflow: auto;
}
*/
/* .parentContainer {
  overflow: scroll !important;
  height: max-content;
} */
.parentMob {
  display: none !important;
  padding: 0;
  margin-top: 0;
}
.parentWeb {
  display: block;
  padding: 0;
  margin-top: 0;
}
/* .parentWeb {
  display: block;
} */
/* .mobHide {
  display: block !important;
}
.mobHideFilter {
  display: none !important;
} */
/* .d-inline {
  display: block;
} */

@media screen and (max-width: 480px) {
  .widthmob {
    width: 175px !important;
  }
  .flex {
    display: flex;
  }
  .banner .text {
    font-size: 25px;
    text-align: center;
  }
  .headerlabel {
    font-size: 25px;
  }
  .logo {
    width: 30px;
    height: 30px;
    margin: 8px;
    margin-top: 7px;
  }
  .eventtabs {
    width: 100%;
  }
  .table-container {
    height: 407px;
    overflow-x: auto;
  }
  .nav-link.active.blue {
    font-size: 12px !important;
  }
  .nav-link.active.pink {
    font-size: 12px !important;
  }
  .eventtabs button {
    font-size: 20px;
  }
  .nav-link {
    font-size: 12px !important;
  }
  .tableheader {
    top: 29px;
    font-size: 12px;
  }
  .banner {
    height: 200px;
    padding-top: 10px;
  }
  .eventtabs {
    height: 63px;
  }
  .filtertab {
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;
    width: 80px;
    padding-left: 40px;
    position: none;
    bottom: 0;
    left: 0;
    float: none;
    margin-top: 13px;
  }
  .parentMob {
    display: flex !important;
    margin-top: 29px;
  }
  .parentWeb {
    display: none !important;
    padding: 0 24px;
    margin-top: 29px;
  }
  header {
    position: none;
  }
  .tabslabel button {
    padding: 10px 7px;
  }
  .form-control {
    font-size: 12px;
  }
  table tr td {
    padding: 5px 10px !important;
    text-align: center;
    align-items: center;
    font-family: "EB Garamond";
    font-size: 12px;
  }
  .footer {
    padding-bottom: 37px;
  }
  .footertext {
    color: white;
    font-size: 18px;
    font-weight: 300;
    font-family: "EB Garamond";
    text-align: center;
  }
  .d-flex {
    display: none !important;
  }
  .heading.blue {
    height: 60px;
  }
  .heading2.pink {
    height: 60px;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .banner .text {
    font-size: 40px;
  }
  .eventtabs {
    width: 70%;
  }
  .filtertab {
    width: 70%;
    position: relative;
    bottom: 70px;
    float: right;
    left: 123px;
  }
  .flex {
    display: none;
  }
  .tableheader {
    font-size: 16px;
  }
}
